
# TERRAFORM

.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfstate.backup
*.tfplan
*dev.tfplan


# SENSITIVE CONFIG (never push these)

*.hcl
*.tfvars
*.tfvars.json
.env
.env.*
*.env
*.pem
*.key
environments/


# OS

.DS_Store
Thumbs.db


# IDE

.vscode/
.idea/
*.iml
*.swp
*.swo
*~


# LOGS & BACKUPS

*.log
*.bak
*.backup
crash.log
crash.*.log
